@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html, body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    height: 100%;
}

a {
    color: #f3dcb9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #514541;
    background-image: url("../images/page-background-dark1.jpg");
    min-height: 100%;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

/*Header-menu*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 18px 79px;
    margin: 0 auto;
    color: #f3dcb9;
}

.nav-logo {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-logo:hover,
.nav-action-login-link:hover,
.nav-action-toggleTheme-btn:hover {
    color: #ce8f69;
    transition-duration: 0.5s;
    border-color: #ce8f69;
}

.nav-action {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-action-icons::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 19px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    top: 10%;
}

.nav-action-icons-link {
    margin-right: 27px;
}

.nav-action-icons-link:nth-child(2) {
    margin-right: 24px;
}

.nav-action-icons-link:last-child {
    margin-right: 25px;
}

.nav-action-icons-svg {
    width: 23px;
    height: 23px;
}

.nav-action-icons-svg path {
    fill: #f3dcb9;
}

.nav-action-icons-svg:hover path {
    fill: #ce8f69;
    transition-duration: 0.5s;
}


.nav-action-login {
    margin: 0 0 0 27px;
}

.nav-action-toggleTheme-btn {
    padding: 5px;
    border-radius: 2px;
    border: thin solid #f3dcb9;
    cursor: pointer;
    margin: 0 0 0 27px;
    background-color: transparent;
    color: #f3dcb9;
}

/*Main*/
main {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 444px;
    background-color: #1a1915;
    /*margin: 0 auto;*/
    position: relative;
    padding: 31px 60px 38px 60px;
    color: #434343;
}

.main-sign-up {
    font-size: 20px;
    line-height: 20px;
    color: #ce8f69;
}

.main-login {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
}

.main-login::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    left: -60px;
    background-color: #ce8f69;
}

.main-login-link {
    color: #ce8f69;
}

.main-login-link:hover {
    color: #f3dcb9;
    text-decoration: underline;
    transition-duration: 0.5s;
}

/*Main top button*/
.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 31px;
    border-radius: 5px;
    width: 160px;
    display: flex;
    align-items: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    transform: scale(1.01);
    transition-duration: 0.5s;
}

.btn-facebook {
    background-color: #76b0cd;
    margin-right: 4px;
}

.btn-facebook:hover {
    background-color: #022263;
    transition-duration: 0.5s;
}

.fa-facebook-f,
.fa-google-plus-g {
    margin: 12px 38px 12px 17px;
    position: relative;
    font-size: 1.5em;
}

.fa-facebook-f::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-right: 1px solid rgba(10, 22, 47, .1);
    left: 34px;
    height: 28px;
}

.btn-google {
    background-color: #a55341;
}

.btn-google:hover {
    background-color: #AB1F09;
    transition-duration: 0.5s;
}

.fa-google-plus-g::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-right: 1px solid rgba(10, 22, 47, .1);
    left: 37px;
    height: 28px;
}

.paragraph-or {
    position: relative;
    text-align: center;
    color: #848484;
    margin-bottom: 12px;
}

.paragraph-or::before,
.paragraph-or::after {
    content: '';
    position: absolute;
    border-top: 1px solid #F2F2F2;
    width: 154px;
    top: 9px;
    right: -2px;
}

.paragraph-or::before {
    right: 173px;
}

/*Form*/
.input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 0 15px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
    background-color: #f3dcb9;
}

.input:last-child {
    padding-bottom: 12px;
}


.input:hover, .input:active, .input:focus {
    box-shadow: 0 10px 25px 0 #00000036;
    transition-duration: 1s;
}

::placeholder {
    color: #ce8f69;
}

input:focus::placeholder {
    color: #434343;
}


/*agree-details*/
.checkbox {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    border: none;
    cursor: pointer;
}

.checkbox::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid #F2F2F2;
    top: 2px;
}

.checkbox:checked {
    background-image: url("../images/check-mark.png");
    background-repeat: no-repeat;
    background-position: center;
}


.checkbox-label {
    margin-left: 11px;
    cursor: pointer;
}

.agree-details {
    color: #f3dcb9;
    text-decoration: underline;
}

.agree-details:hover {
    color: #ce8f69;
    transition-duration: 0.5s;
}

.btn-submit {
    background-color: #f3dcb9;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 16px 99px;

}

.btn-submit:hover {
    background-color: #ce8f69;
    transition-duration: 0.5s;
}