@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    background-color: #002240;
}

h2 {
    text-align: center;
    color: #d4cb75;
}

li {
    color: #90ebed;
    margin-bottom: 10px;
}

.btn {
    background-color: #305DB8;
    font-size: 16px;
    line-height: 16px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    width: 160px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

